/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'lato', 'arial', sans-serif;
}

.content{
    display: flex;
    flex-direction: column;
    align-items:center;
}